name: Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    paths-ignore:
      - '.devcontainer/**'
      - '.github/**'

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true
    
    - name: Checkout LFS objects
      run: git lfs pull

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install --group dev

    - name: Start and run local test server
      run: |
        docker compose -f tests/compose.yml up --detach

    - name: Run tests
      run: |
        py.test -v -x -s --color=yes --cov-report=term-missing --cov-report=xml --cov=pyetp tests/

    - name: Check formatting
      run: |
        ruff format --check

    - name: Check linting
      run: |
        ruff check
        
    - name: Upload coverage reports to Codecov
      if: ${{ github.event_name == 'push'}}
      uses: codecov/codecov-action@v4.0.1
      with:
        file: ./coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: equinor/pyetp
