name: Build and publish
 
on:
  release:
    types: [published]

jobs:
  test:
    uses: equinor/pyetp/.github/workflows/ci.yml@main
    with:
      event_type: ${{ github.event_name}}
      action_type: ${{ github.event.action}}

  release-build:
    needs:
      - test

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install pip and pypa/build
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build distribution
        run: |
          python -m build

      - name: Upload the distribution
        uses: actions/upload-artifact@v4
        with:
          name: pyetp-release-dists
          path: dist/

      - name: Publish the package with poetry
        run: |
          poetry publish -u __token__ -p '${{ steps.mint.outputs.api-token }}'
